<!DOCTYPE html>
<html>
<head>
    <title>LLM Observability Dashboard</title>
</head>
<body>
    <link rel="stylesheet" href="/static/style.css">

<div class="container">
    <h2>LLM Observability Dashboard</h2>

    <div class="card">
        <h3>Latency Over Time</h3>
        <img src="/static/graphs/latency.png" style="width:70%; display:block; margin:auto;">

    </div>

    <div class="card">
        <h3>Cost Per Request</h3>
        <img src="/static/graphs/cost.png" style="width:70%; display:block; margin:auto;">
    </div>

    <div class="card">
        <h3>Token Usage Per Request</h3>
        <img src="/static/graphs/tokens.png" style="width:70%; display:block; margin:auto;">
    </div>

    <div class="card">
        <a href="/">← Back to Prompt Page</a>
    </div>
</div>

</body>
</html>
